$btn-padding-y:               8px;
$btn-padding-x:               12px;
$btn-font-size:               16px;

$btn-padding-y-sm:            8px;
$btn-padding-x-sm:            16px;
$btn-font-size-sm:            12px;

$btn-padding-y-md:            10px;
$btn-padding-x-md:            16px;
$btn-font-size-md:            16px;


$btn-padding-y-lg:            16px;
$btn-padding-x-lg:            16px;
$btn-font-size-lg:            20px;

$btn-box-shadow:              drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

// Radius
$btn-border-radius:           15px;
$btn-border-radius-sm:        15px;
$btn-border-radius-lg:        15px;


