//Form Inputs
$input-bg:                              #FFFFFF;
$input-border-color:                    #848484;
$input-border-radius:                   10px;
$input-placeholder-color:               #848484;

//CheckBox
$form-check-input-checked-bg-color:       $color-2;
$form-check-input-border:                 1px solid rgba($color-2, .25);
